.PageTitle {
    padding: 23px;
    background: #fff;
}

.PageTitle--has-actions {
    display: flex;
}

.PageTitle-title {
    font-weight: 300;
    margin: 0
}

.PageTitle--has-actions .PageTitle-wrapper {
    flex: 1
}

.PageTitle-subtitle {
    color: #bbb;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0
}