.App {
    height: 100%;
}

.App-main {
    padding: 0 10px;
}

.App-Navbar {
    background: #fff;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
}

.App-Navbar-Brand {
    font-size: 18px;
}

.App-Navbar-Brand-side-toggle {
    color: darkgrey;
    margin-right: 8px;
    cursor: pointer;
}

.App-Navbar-Nav {
    float: right;
}

.App-business-popover-container {
    max-width: none;
    /*height: 100px;*/
}